<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>Subject Merge</title>
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
      <style>
        {% include style.css %}
      </style>

  </head>

  <body leftmargin="0" marginwidth="0" marginheight="0" offset="0" topmargin="0" style="padding: 0;">

    <table bgcolor="{{ page.c-bg }}" border="0" cellspacing="0" cellpadding="0" width="100%">

      <tr>
        <td>

          <center>

            {{ content }}

          </center>

        </td>
      </tr>

    </table>

</body>
